include _mixins

doctype html
html( lang='en' )
	head
		title Alpha Counter

		meta( name='viewport', content='width=device-width, height=device-height, initial-scale=1.0' )
		meta( http-equiv='X-UA-Compatible' content='IE=Edge' )
		meta( charset='utf-8' )

		link( rel='stylesheet', href='style.css' )

		script( src='polyfill-CustomEvent.js' )
		script( src='Counter.js' )
		script( src='ProgressCircle.js' )
		script( src='Countdown.js' )
		script( src='script.js' )

	body
		.page
			section.section
				.container
					.block
						+countdown({ from: '2017-08-19', to: '2019-09-20' })

					.block
						+counter( 100 )
						+progress-circle( 200 )
