// Variables
$bg: black;
$fg: #414243;


/** @section Base */
* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

body {
	font-family: Arial;
	background: #313233;
	color: white;
}

a {
	color: white;
	text-decoration: none;
}

.page {
	display: flex;
	flex-direction: column;
	justify-content: center;
	min-height: 90vh;
}

.section {
	padding: 10vh 0;
}

.container {
	max-width: 900px;
	margin: 0 auto;
	padding: 0 15px;
}

.block {
	display: flex;
	align-items: center;
	justify-content: center;

	> * + * {
		margin-left: 40px;
	}
}

* + .block {
	margin-top: 20px;
}


/** @section Counter */
.counter {
	min-width: 100px;
	padding: 10px 15px;
	border: 3px solid $fg;
	border-radius: 10px;
	text-align: center;
}


/** @section Progress Circle */
.good-circle,
.progress-circle {
	flex-shrink: 0;
	height: auto;
	border-radius: 50%;

	.bg {
		fill: $bg;
	}

	.fg {
		fill: $fg;
	}
}

/** @section Countdown */
.countdown {
	display: flex;
	justify-content: center;
	text-align: center;
	margin: 0 -15px;
	line-height: 1.2;
}

.countdown-block {
	position: relative;
	padding: 0 15px;
}

.countdown-inner {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.countdown-circle {
	display: block;

	.bg {
		fill: $bg;
	}

	.fg {
		fill: $fg;
	}
}

.countdown-title {
	text-transform: uppercase;
}
