-
	cfg = {
		color: null,
		number: null,
		placeholders: [
			'Краткость - сестра...',
			'Анархия - мать...',
			'Красота должна спасать...',
			'Донор доехал до больницы с двумя пересадками',
			'Выпившей самке богомола даже некому позвонить',
			'Главное — не включай компьютер с утра',
			'Лотерея - это налог на незнание математики',
			'Карбид - залог счастливого детства',
			'Иногда проще послать утюг в голову чем лучи добра',
			'Мой кот принял буддизм и дал обет мурчания',
			'Знание - сила, незнание - спокойствие',
			'Заходит Паскаль в бар, а бар — это сто тысяч Паскалей',
			'Дела шли хорошо, но не дошли...',
			'Есть только два состояния...',
			'Каждый думает, что он незаменим, пока он не заменён',
			'Оскорбление чувств ворующих',
			'Петя не хотел знать, откуда берутся дети, но батю не остановить',
			'Не хочу сказать, что ты толстая, но бабушка бы тобой гордилась',
			'Прежде, чем подумать плохо, подумай хорошо',
			'Разыскивается кот Шрёдингера, живой или мёртвый',
			'Относись к людям так, как хочешь, так и относись',
			'Если бы толстеть было больно - мы бы все круглосуточно рыдали',
			'Мой рекорд в беге на 100 метров - 50 метров',
			'Любой каприз за ваши деньги, вы платите - я капризничаю',
			'Когда я женился, жена взяла мою фамилию, так что теперь я просто Андрей',
			'Голод не тётка... Алкоголизм не дядька...',
			'Случайно наступил на игрушечный кубик, а матерился, как на настоящей стройке',
		]
	};
