//- Counter
mixin counter( value, color )
	- if ( color ) attributes.style = `border-color: ${color}`;
	h2.counter( contenteditable='true' )&attributes( attributes )= value

//- Progress Linear
mixin progress-linear( title, color, counter )
	-
		var barAttributes = {};
		if ( color ) barAttributes.style = `background-color: ${color}`;
		if ( counter ) barAttributes[ 'data-counter' ] = counter;
	.progress-linear&attributes( attributes )
		h4.progress-linear-header= title 
		.progress-linear-body
			.progress-linear-bar&attributes( barAttributes )

//- Progress Circle
mixin progress-circle( color, counter )
	svg.progress-circle( x='0', y='0', width='100', height='100', viewbox='0 0 100 100', data-counter= counter )&attributes( attributes )
		circle.bg( cx=50, cy=50, r=45 )
		circle.clipped( cx=50, cy=50, r=50, fill= color )

//- Progress Circle variant 2
mixin progress-circle-2( color, counter )
	svg.progress-circle-2( x='0', y='0', width='100', height='100', viewbox='0 0 100 100', data-counter= counter )&attributes( attributes )
		circle.bg( cx=50, cy=50, r=45, stroke= color )
		circle.fg.clipped( cx=50, cy=50, r=45, stroke= color )
		circle.dot( cx=50, cy=5, r=5, fill= color )

//- Countdown
mixin countdown( data )
	.countdown( data-countdown data-from= data.from, data-to= data.to, data-count= data.count )
		each value in [ 'days', 'hours', 'minutes', 'seconds' ]
			- var counterAttr = {}; counterAttr[ 'data-counter-'+ value ] = '';
			- var circleAttr = {}; circleAttr[ 'data-progress-'+ value ] = '';
			.countdown-block
				svg.countdown-circle( x='0', y='0', width='100', height='100', viewbox='0 0 100 100' )&attributes( circleAttr )
					circle.clipped( cx=50, cy=50, r=50, fill= data.color )
				.countdown-wrap
					h1.countdown-counter&attributes( counterAttr ) 00
					h6.countdown-title= value

//- Countdown Compact
mixin countdown-compact( data )
	.countdown-compact( data-countdown data-from= data.from, data-to= data.to, data-count= data.count )
		.countdown-compact-circles
			svg.countdown-compact-circle( x='0', y='0', width='200', height='200', viewbox='0 0 200 200', data-progress-seconds )
				circle.clipped( cx=100, cy=100, r=94, stroke= randHEX() )
			svg.countdown-compact-circle( x='0', y='0', width='180', height='180', viewbox='0 0 180 180', data-progress-minutes )
				circle.clipped( cx=90, cy=90, r=83, stroke= randHEX() )
			svg.countdown-compact-circle( x='0', y='0', width='160', height='160', viewbox='0 0 160 160', data-progress-hours )
				circle.clipped( cx=80, cy=80, r=72, stroke= randHEX() )
			svg.countdown-compact-circle( x='0', y='0', width='140', height='140', viewbox='0 0 140 140', data-progress-days )
				circle.clipped( cx=70, cy=70, r=61, stroke= randHEX() )
		.countdown-compact-counters
			h1.countdown-compact-counter( data-counter-days ) 00
			h1.countdown-compact-counter( data-counter-hours ) 00
			h1.countdown-compact-counter( data-counter-minutes ) 00
			h1.countdown-compact-counter( data-counter-seconds ) 00
