include _config
include _functions
include _mixins

block variables

doctype html
html( lang='en' )
	head
		block title
			title= pageName

		meta( name='viewport', content='width=device-width, height=device-height, initial-scale=1.0' )
		meta( http-equiv='X-UA-Compatible' content='IE=11' )
		meta( charset='utf-8' )

		link( rel='stylesheet', href='css/style.css' )

	body
		.page
			block page

		script( src='js/aUtil.js' )
		script( src='js/aCounter.js' )
		script( src='js/aProgressCircle.js' )
		script( src='js/aCountdown.js' )
		script( src='js/script.js' )
