extends _skeleton

block page
	.page

		section.section: .container
			.block
				+countdown({
					from:  '2018-12-01',
					to:    '2019-01-24T19:34:30',
					color: randHEX()
				})
				+countdown-compact({
					to: '2018-12-20T00:25:30'
				})

		section.section: .container
			- for( var i = 0; i < 100; i++ )
				- cfg.color = randHEX();
				- cfg.number = rand( 100 );
				.block
					+counter( cfg.number, cfg.color )( id= `counter${i}` )
					+progress-linear( cfg.placeholders[ rand( cfg.placeholders.length ) ], cfg.color, `#counter${i}` )
					+progress-circle( cfg.color, `#counter${i}` )
					+progress-circle-2( cfg.color, `#counter${i}` )
