include _mixins

doctype html
html( lang='en' )
	head
		title Alpha Count

		meta( name='viewport', content='width=device-width, height=device-height, initial-scale=1.0' )
		meta( http-equiv='X-UA-Compatible' content='IE=Edge' )
		meta( charset='utf-8' )

		link( rel='stylesheet', href='css/style.css' )

		script( src='js/polyfill-CustomEvent.js' )
		script( src='js/Counter.js' )
		script( src='js/ProgressCircle.js' )
		script( src='js/Countdown.js' )
		script( src='js/script.js' )

	body
		.page
			section.section
				.container
					.block
						+countdown({ from: '2017-08-19', to: '2019-09-20' })

					.block
						+counter( 100 )
						+progress-circle( 180 )
