extends  _skeleton

block variables
	-
		var pageName = 'Хомяк',
			image = 'images/index-01-1600x938.png';

	mixin progress-circle
		.progress-circle( data-progress-circle )
			svg( x='0px', y='0px', width='200px', height='200px', viewbox='0 0 100 100' )
				clipPath( class='progress-clip' )
					path( d='' )
				path( class='clipped progress' d='M0,0v100h100V0H0z M50,87.5c-20.711,0-37.5-16.789-37.5-37.5S29.289,12.5,50,12.5S87.5,29.289,87.5,50S70.711,87.5,50,87.5z' )
				circle( class='circle-bg' cx='50' cy='50' r='30' )
				if block
					block

	mixin countdown-circle( units )
		.progress-circle( data-circle-countdown, data-units= units )
			svg( x='0px', y='0px', width='200px', height='200px', viewbox='0 0 100 100' )
				clipPath( class='progress-clip' )
					path( d='' )
				circle( class='clipped progress' cx='50' cy='50' r='50' )
				//-path( class='clipped progress' d='M0,0v100h100V0H0z M50,87.5c-20.711,0-37.5-16.789-37.5-37.5S29.289,12.5,50,12.5S87.5,29.289,87.5,50S70.711,87.5,50,87.5z' )
				//-circle( class='circle-bg' cx='50' cy='50' r='30' )
			.counter

	mixin screwdriver
		g( transform='translate(25,25) scale(0.1)', fill='#fff' )
			path( d='M292.421,277.916l-58.336-58.336c-12.463-12.463-30.244-0.516-29.492,12.168c0,0-10.209-0.928-21.832,10.695 L11.434,413.769c-12.124,12.124-17.398,39.406-2.328,54.477l34.648,34.648c15.07,15.07,42.353,9.796,54.477-2.328L269.557,329.24 c11.623-11.623,10.695-21.832,10.695-21.832C292.936,308.159,304.883,290.378,292.421,277.916z M43.342,401.247l137.12-137.12 c13.671-13.671,39.716,12.374,26.045,26.045l-137.12,137.12C54.067,442.613,28.022,416.568,43.342,401.247z M247.873,331.538 l-137.12,137.12c-15.321,15.321-41.366-10.725-26.045-26.045l137.12-137.12C235.498,291.822,261.544,317.867,247.873,331.538z' )
			path( d='M272.798,258.294l172.74-172.74l1.458,1.458l32.218-20.639l32.908-44.049L489.676-0.122l-44.049,32.908l-20.639,32.218 l1.458,1.458l-172.74,172.74' )

	mixin heart
		g( transform='translate(25,28) scale(0.05)', fill='#fff' )
			path(d='M133.4,333.5c5,0,9-4.1,9-9.1c0-65.1,53-118.1,118.1-118.1c5,0,9-4,9-9c0-5-4-9.1-9-9.1c-75.1,0-136.2,61.1-136.2,136.2C124.3,329.5,128.4,333.5,133.4,333.5')
			path(d='M91.4,535.6l383.1,383.1c7.1,7,16.3,10.6,25.6,10.6c9.3,0,18.5-3.5,25.6-10.6l383.1-383.1c107.3-107.4,108.6-280.7,2.8-386.5C861,98.6,793.3,70.7,720.9,70.7c-74,0-143.5,28.9-195.9,81.2l-25,25l-25-25c-52.4-52.4-122-81.2-195.9-81.2c-72.4,0-140.1,27.8-190.6,78.3C-17.3,254.9-16,428.3,91.4,535.6 M120.5,181c42-42,98.3-65.1,158.6-65.1c61.9,0,120.1,24.1,164,68l50.6,50.6c1.7,1.7,4,2.6,6.4,2.6c2.4,0,4.7-1,6.4-2.6l50.6-50.6c43.9-43.9,102.1-68,164-68c60.3,0,116.6,23.1,158.6,65.1c88.1,88.2,86.9,232.9-2.8,322.6L500,880.3L123.3,503.6C33.6,413.9,32.3,269.2,120.5,181')


block page
	.wrap
		+progress-circle: +screwdriver
		+progress-circle: +heart

	.wrap( data-countdown, data-from='2017-08-19T20:00:00', data-to='2017-09-20T20:30:00' )
		+countdown-circle( 'Days' )
		+countdown-circle( 'Hours' )
		+countdown-circle( 'Minutes' )
		+countdown-circle( 'Seconds' )
